# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc

# SQLite databases
*.db
*.db-journal
update_db.py

# Pytest cache
.pytest_cache/

apply_changes.sh
frontend/prototype_*.html

# Frontend / Node
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log
.DS_Store
