services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: base
    environment:
      - DATABASE_URL=sqlite:///./marty.db
      - ENVIRONMENT=development
    volumes:
      - .:/app:cached
    ports:
      - "8000:8000"
    command: ["sleep", "infinity"]
